@{
    ViewData["Title"] = "About";
}

<div class="owaspTopTen">
    <h2>
        About WebGoat.NetCore
    </h2>
    <div>
        welcome to the offical website of divyam matia .
        Thank you
    <div>
        TODO
    </div>
</div>
